extends layout
block content
	h1 Publications
	- even = true;
	each article in articles
		- if (even) {
		-  clazz = 'even';
		- } else {
		-    clazz = 'odd';
		- }

		div.pubentry
			- authors = article.metadata.authors.replace('Georg Nebehay', '<span class="me">Georg Nebehay</span>');
			| !{authors}
			br
			a(href=article.url)
				= article.title
			br
			= ' ' + article.metadata.published
			span(class='link_panel')
				- filename = article.filepath.full.substring(0,article.filepath.full.lastIndexOf('/')) + '/' + article.metadata.name + '.pdf';
				- if (fs.existsSync(filename)) {
					a(href=article.metadata.name + '/' + article.metadata.name + '.pdf'): img(src="/img/pdficon_small.png", title='Download pdf')
				- }
				- if (typeof(article.metadata.citeulike-article-id) !== 'undefined'){
					a(href=article.metadata.name + '/' + article.metadata.name + '.bib'): img(src="/img/logo_bibtex.png",width='16', title='Download bib file')
				- }
				- if (typeof(article.metadata.code) !== 'undefined'){
					a(href=article.metadata.code): img(src="/img/Octocat.png",height='16', title='Download code')
				- }
				- if (typeof(article.metadata.url) !== 'undefined'){
					a(href=article.metadata.url): img(src="/img/url.png",height='16', title='Project page')
				- }

		- even = !even;
